# Computing the Total Returns

#### Import the required libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

#### Set the working directory

In [2]:
cd D:\nifty50 and niftynext50 data

D:\nifty50 and niftynext50 data

#### Read the csv files

In [3]:
nifty50_sep=pd.read_csv("nifty50_sep.csv", index_col=0)
nifty50_oct=pd.read_csv("nifty50_oct.csv", index_col=0)
nifty50_nov=pd.read_csv("nifty50_nov.csv", index_col=0)
nifty50_dec=pd.read_csv("nifty50_dec.csv", index_col=0)
nifty50_jan=pd.read_csv("nifty50_jan.csv", index_col=0)
nifty50_feb=pd.read_csv("nifty50_feb.csv", index_col=0)
niftynext50_sep=pd.read_csv("niftynext50_sep.csv", index_col=0)
niftynext50_oct=pd.read_csv("niftynext50_oct.csv", index_col=0)
niftynext50_nov=pd.read_csv("niftynext50_nov.csv", index_col=0)
niftynext50_dec=pd.read_csv("niftynext50_dec.csv", index_col=0)
niftynext50_jan=pd.read_csv("niftynext50_jan.csv", index_col=0)
niftynext50_feb=pd.read_csv("niftynext50_feb.csv", index_col=0)

In [4]:
nifty50_sep.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
1,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,SHIPPING,4141903522,25883.17,0.59,1.27,0.25,1.85,-14.158946,0.05
2,ASIANPAINT,Asian Paints Ltd.,PAINTS,959197790,58304.93,1.34,0.74,0.16,1.55,-5.767059,0.03
3,AXISBANK,Axis Bank Ltd.,BANKS,5137681032,108698.56,2.50,1.34,0.22,1.66,-5.544859,0.03
4,BAJAJ-AUTO,Bajaj Auto Ltd.,AUTOMOBILES - 2 AND 3 WHEELERS,2893670200,36549.99,0.84,1.02,0.21,1.86,-2.091189,0.03
5,BAJFINANCE,Bajaj Finance Ltd.,FINANCE,1155936776,51374.45,1.18,1.24,0.19,2.52,-24.105580,0.03

#### Multiply weightage with Monthly Return divided by 100, to obtain a new column 'Total Return'

In [5]:
nifty50_sep['Total Return']=nifty50_sep['Weightage (%)']*nifty50_sep['Monthly Return']/100
nifty50_oct['Total Return']=nifty50_oct['Weightage (%)']*nifty50_oct['Monthly Return']/100
nifty50_nov['Total Return']=nifty50_nov['Weightage (%)']*nifty50_nov['Monthly Return']/100
nifty50_dec['Total Return']=nifty50_dec['Weightage (%)']*nifty50_dec['Monthly Return']/100
nifty50_jan['Total Return']=nifty50_jan['Weightage (%)']*nifty50_jan['Monthly Return']/100
nifty50_feb['Total Return']=nifty50_feb['Weightage (%)']*nifty50_feb['Monthly Return']/100
niftynext50_sep['Total Return']=niftynext50_sep['Weightage (%)']*niftynext50_sep['Monthly Return']/100
niftynext50_oct['Total Return']=niftynext50_oct['Weightage (%)']*niftynext50_oct['Monthly Return']/100
niftynext50_nov['Total Return']=niftynext50_nov['Weightage (%)']*niftynext50_nov['Monthly Return']/100
niftynext50_dec['Total Return']=niftynext50_dec['Weightage (%)']*niftynext50_dec['Monthly Return']/100
niftynext50_jan['Total Return']=niftynext50_jan['Weightage (%)']*niftynext50_jan['Monthly Return']/100
niftynext50_feb['Total Return']=niftynext50_feb['Weightage (%)']*niftynext50_feb['Monthly Return']/100

In [6]:
nifty50_sep.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%),Total Return
Sr. No,,,,,,,,,,,,
1,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,SHIPPING,4141903522,25883.17,0.59,1.27,0.25,1.85,-14.158946,0.05,-0.083538
2,ASIANPAINT,Asian Paints Ltd.,PAINTS,959197790,58304.93,1.34,0.74,0.16,1.55,-5.767059,0.03,-0.077279
3,AXISBANK,Axis Bank Ltd.,BANKS,5137681032,108698.56,2.50,1.34,0.22,1.66,-5.544859,0.03,-0.138621
4,BAJAJ-AUTO,Bajaj Auto Ltd.,AUTOMOBILES - 2 AND 3 WHEELERS,2893670200,36549.99,0.84,1.02,0.21,1.86,-2.091189,0.03,-0.017566
5,BAJFINANCE,Bajaj Finance Ltd.,FINANCE,1155936776,51374.45,1.18,1.24,0.19,2.52,-24.105580,0.03,-0.284446

#### Find the summation of the Total Returns for every month

In [7]:
nifty50_sep_TR=nifty50_sep['Total Return'].sum()
nifty50_oct_TR=nifty50_oct['Total Return'].sum()
nifty50_nov_TR=nifty50_nov['Total Return'].sum()
nifty50_dec_TR=nifty50_dec['Total Return'].sum()
nifty50_jan_TR=nifty50_jan['Total Return'].sum()
nifty50_feb_TR=nifty50_feb['Total Return'].sum()
niftynext50_sep_TR=niftynext50_sep['Total Return'].sum()
niftynext50_oct_TR=niftynext50_oct['Total Return'].sum()
niftynext50_nov_TR=niftynext50_nov['Total Return'].sum()
niftynext50_dec_TR=niftynext50_dec['Total Return'].sum()
niftynext50_jan_TR=niftynext50_jan['Total Return'].sum()
niftynext50_feb_TR=niftynext50_feb['Total Return'].sum()

In [8]:
nifty50_sep_TR

-5.662181087329

#### Create two new dataframes for each index with first column being a list of months and second column being the respective total returns

In [9]:
totalreturns_nifty50=pd.DataFrame({'Month':['Sep','Oct','Nov','Dec','Jan','Feb'],
                                   'Total Returns (nifty50)':[nifty50_sep_TR,nifty50_oct_TR,nifty50_nov_TR, 
                                                    nifty50_dec_TR,nifty50_jan_TR,nifty50_feb_TR]})

totalreturns_niftynext50=pd.DataFrame({'Month':['Sep','Oct','Nov','Dec','Jan','Feb'],
                                       'Total Returns (niftynext50)':[niftynext50_sep_TR,niftynext50_oct_TR,niftynext50_nov_TR, 
                                                        niftynext50_dec_TR,niftynext50_jan_TR,niftynext50_feb_TR]})

In [10]:
totalreturns_niftynext50

  Month  Total Returns (niftynext50)
0   Sep                   -11.409402
1   Oct                    -2.205974
2   Nov                     4.520387
3   Dec                     2.480322
4   Jan                    -5.129962
5   Feb                     0.328264

#### Set the column 'Month' as index

In [27]:
totalreturns_nifty50=totalreturns_nifty50.set_index('Month')
totalreturns_nifty50

       Total Returns (nifty50)
Month
Sep                  -5.662181
Oct                  -4.326490
Nov                   5.188389
Dec                   0.024880
Jan                   0.328807
Feb                  -0.141857

In [28]:
totalreturns_niftynext50=totalreturns_niftynext50.set_index('Month')
totalreturns_niftynext50

       Total Returns (niftynext50)
Month
Sep                     -11.409402
Oct                      -2.205974
Nov                       4.520387
Dec                       2.480322
Jan                      -5.129962
Feb                       0.328264

#### Obtain the plot using plotly

In [26]:
import plotly.plotly as py
import plotly.graph_objs as go

# Create and style traces
trace0 = go.Scatter(
    x = totalreturns_nifty50['Month'],
    y = totalreturns_nifty50['Total Returns (nifty50)'],
    name = 'NIFTY 50',
    mode = 'lines+markers',
    line = dict(color = ('rgb(81,216,55)'), width = 7),
    marker = dict(color = ('rgb(58,150,20)'), size = 9))

trace1 = go.Scatter(
x = totalreturns_niftynext50['Month'],
    y = totalreturns_niftynext50['Total Returns (niftynext50)'],
    name = 'NIFTY Next 50',
    line = dict(color = ('rgb(23,128,12)'),width = 7),
    marker = dict(color = ('rgb(5,31,7)'), size = 9, symbol='square'))

data = [trace0, trace1]

# Edit the layout
layout = dict(title = 'NIFTY 50 Returns vs NIFTY Next 50 Returns',
              xaxis = dict(title = 'Month'),
              yaxis = dict(title = 'Total Returns'),
              )

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='total nifty returns copy')